kind: Kustomization
resources:
- ../base
patchesStrategicMerge:
- deployment.yaml
- service.yaml
namespace: instavote  
images:
- name: schoolofdevops/vote
  newTag: v4
replicas:
- name: vote
  count: 1
